<table class="table table-hover">
	<tr>
		<th>Company Name</th>
		<th>Street Address</th>
		<th>City</th>
		<th>State</th>
		<th>Zipcode</th>
	</tr>
	<% @facilities.each do |facility| %>
		<tr>
			<td><%= link_to facility.name, dashboard_path %></td>
			<td><%= facility.street_address %></td>
			<td><%= facility.city %></td>
			<td><%= facility.state %></td>
			<td><%= facility.zipcode %></td>
		</tr>
	<% end %>
</table>
