<h1><%= @facility.name %></h1>
<div class="address">
  <%= @facility.street_address %><br/>
  <%= @facility.city %><br/>
  <%= @facility.state %><br/>
  <%= @facility.zipcode %>
</div>

<h3>Pending Orders:</h3>
<div class="pending-order-list">
  <%= render partial: '/orders/index', locals: { orders: @facility.orders } %>
</div>

<%= link_to 'Add patient', new_patient_path %>

<h3>Active Patients</h3>
<div class="active-patient-list">
  <%= render partial: '/patients/index', locals: { patients: @facility.patients } %>
</div>
