<table class="table table-hover">
	<th>
		<td>Company Name</td>
		<td>City</td>
		<td>State</td>
		<td>Insurances</td>
		<td>Wheelchairs</td>
		<td>Beds</td>
	</th>
	<% @dmes.each do |dme| %>
		<tr><%= dme.name %></tr>
		<tr><%= dme.city %></tr>
		<tr><%= dme.state %></tr>
		<tr><%= dme.insurances %></tr>
		<tr><%= dme.wheelchairs.count %></tr>
		<tr><%= dme.beds.count %></tr>
	<% end %>
</table>