<h3>Facility:</h3>
<%= current_facility.name %>

<h3>Professional:</h3>
<% if current_user.is_physician %>
	<span>Dr.</span>
<% end %>
<%= current_user.first_name %>
<%= current_user.last_name %>

<h3>Patient:</h3>
<%= current_patient.first_name %>
<%= current_patient.last_name %>

<h3>Order Form:</h3>
<%= form_for(@order, html: {class: 'form-horizontal'}) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wheelchair.errors.count, "error") %> prohibited this wheelchair from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :wheelchair_type, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= radio_button_tag(:wheelchair_type, "k1") %>
      <%= label_tag(:wheelchair_type_k1, "Standard") %><br/>
      <%= radio_button_tag(:wheelchair_type, "k3") %>
      <%= label_tag(:wheelchair_type_k3, "Lightweight") %><br/>
      <%= radio_button_tag(:wheelchair_type, "k6") %>
      <%= label_tag(:wheelchair_type_k6, "Heavy Duty") %><br/>
      <%= radio_button_tag(:wheelchair_type, "k7") %>
      <%= label_tag(:wheelchair_type_k7, "Extra HD") %><br/>
    </div>
  </div>
  <div class="field form-group">
    <%= f.label :front_riggings, class: 'col-sm-2 control-label' %>
    <div class="col-sm-10">
      <%= radio_button_tag(:front_riggings, "std") %>
      <%= label_tag(:front_riggings_std, "Standard Footrests") %><br/>
      <%= radio_button_tag(:front_riggings, "ele") %>
      <%= label_tag(:front_riggings_ele, "Elevating Legrests") %><br/>
      <%= radio_button_tag(:front_riggings, "hd") %>
      <%= label_tag(:front_riggings_hd, "Heavy Duty Legrests") %><br/>
      <%= radio_button_tag(:front_riggings, "art") %>
      <%= label_tag(:front_riggings_art, "Articulting Legrests") %><br/>
    </div>
  </div>
  
  <div class="actions form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit %>
    </div>
  </div>

<% end %>