<div class="row">
	<h1><%= @patient.last_name %>, <%= @patient.first_name %></h1>
	<%= @patient.street_address %><br/>
	<%= @patient.city %>,
	<%= @patient.state %>
	<%= @patient.zipcode %><br/>
	<%= @patient.phone_number %><br/>
	<%= @patient.email %>
</div>

<div class="patient-info">
	DOB:<%= @patient.birthday %><br/>
	Gender:<%= @patient.gender %><br/>
	Height:<%= @patient.height %><br/>
	Weight:<%= @patient.weight %><br/>
	Discharge Date:<%= @patient.discharge_date %><br/>
	Diagnosis:<%= @patient.diagnosis %><br/>
	Insurance 1:<%= @patient.insurance_1 %><br/>
	Insurance 2:<%= @patient.insurance_2 %><br/>
	Notes: <%= @patient.notes %><br/>
</div>

<h3>Open Orders:</h3>
<% if @patient.orders.count > 0 %>
	<div class="orders-list">
		<%= render partial: "/orders/index", locals: { orders: @patient.orders } %>
	</div>
<% else %>
	<h5>-No pending orders-</h5>
<% end %>

<div class="create-order">
	<%= link_to "Create Order", new_order_path %>
</div>