<%= @patient.first_name %>
<%= @patient.last_name %>
<%= @patient.birthday %>
<%= @patient.gender %>
<%= @patient.discharge_date %>

<div class="create-order">
	<%= link_to "Create Order", orders_path %>
</div>