<table class="table table-hover">
	<th>
		<td>First Name</td>
		<td>Last Name</td>
		<td>DOB</td>
		<td>Gender</td>
		<td>Discharge Date</td>
	</th>
	<% @patients.each do |patient| %>
		<tr>
			<td><%= patient.first_name %></td>
			<td><%= patient.last_name %></td>
			<td><%= patient.birthday %></td>
			<td><%= patient.gender %></td>
			<td><%= patient.discharge_date %></td>
		</tr>
	<% end %>
</table>