<!DOCTYPE html>
<html>
<head>
  <title>DMEassistant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<% if session[:physician_id] || session[:therapist_id] || session[:dme_id] %>
			<%= form_for :session, url: logout_path, method: 'delete' do |f| %>
				<%= f.submit 'Logout', class: 'btn-primary logout-btn' %>
			<% end %>
		<% end %>
	</header>

	<%= yield %>

</body>
</html>
